// Place all the styles related to the features controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Bangers);
@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie);

h1 {
    font-family: 'Bangers', helvetica, sans-serif;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 0;
}

h2, h3 {
    font-family: 'Reenie Beanie', Helvetica, Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
}

a {
    font-family: 'Reenie Beanie', Helvetica, Arial, sans-serif;
    text-decoration: underline;
}

a:hover {
    cursor: pointer;
}

.hidden {
  display: none;
}

li.selected {
  background-color: red;
}

.pointer {
    font-family: helvetica;
    margin-top: 10px;
    margin-bottom: -25px;
}

.spinningWheel {
  min-width: 360px;
  max-width: 650px;
  margin: 0 auto;
}

canvas {
  width: 90%;
  height: 90%;
  max-height: 440px;
  max-width: 440px;
}

