// Place all the styles related to the features controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Bangers);
@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie);

h1 {
    font-family: 'Bangers', helvetica, sans-serif;
    font-size: 2.8em;
    margin-top: 0.6em;
    margin-bottom: 0;
    text-shadow: rgba(255,255,255,0.25) 4px 4px 16px;
}

h2, h3 {
    font-family: 'Reenie Beanie', Helvetica, Arial, sans-serif;
    color: rgba(255,255,255,0.50);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
}

a {
    font-family: 'Reenie Beanie', Helvetica, Arial, sans-serif;    
    text-decoration: underline;
    color: rgba(255,255,255,0.75);
    font-size: 1.2em;
}

a:hover {
    cursor: pointer;
}

.hidden {
  display: none;
}

li.selected {
  background-color: red;
}

.pointer {
    font-family: helvetica;
    margin-top: 10px;
    margin-bottom: -20px;
    color: rgba(255,255,255,0.15);
}

.spinningWheel {
  min-width: 360px;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 0.4em;
}

canvas {
  width: 90%;
  height: 90%;
  max-height: 440px;
  max-width: 440px;
}

.message {
    max-width: 660px;
    margin: 0 auto;
}
