%h1 Wheel of Misfortune!
%h3 YOUR DESTINY AWAITS

= link_to "Add/Edit/Remove Features", features_path
%br
%a.spin-the-wheel Spin the Wheel!
%br
You must do:
%span.task
  Something.

%ul.hidden
  - @features.shuffle.each do |feature|
    %li{data: { id: feature.id, name: feature.name, difficulty: feature.difficulty, description: feature.description}}

.spinningWheel
  %canvas{width: 600, height: 600}
