.wrapper

  %h1
    Wheel of Misfortune!
  %h3
    your destiny awaits

  -# = link_to "Add/Edit/Remove Features", features_path
  -# %br
  %a.spin-the-wheel Spin the Wheel!

  %a{href:'#',data:{'reveal-id': 'testModal'}}
    Tezzdat Modalz

  %ul.hidden
    - @features.shuffle.each do |feature|
      %li{data: { id: feature.id, name: feature.name, difficulty: feature.difficulty, description: feature.description}}

  .spinningWheel
    .pointer
      %span v
    %canvas{width: 550, height: 550}

  .message
    %h2 rollin' wit teh homies
