%h1 Wheel of Misfortune!
%h3 YOUR DESTINY AWAITS

= link_to "Add/Edit/Remove Features", features_path
%br
%a.spin-the-wheel Spin the Wheel!
%br
You must do:
%span.task
  Something.

%ul
  - @features.shuffle.each do |feature|
    %li
      %input.description{ type: "hidden", value: feature.description}
      = feature.name
      = feature.difficulty
      / = feature.description
